.containerCart  .cartIcon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.cartNumber {
    position: absolute;
    font-size: 23px;
    font-weight: 500;
    top: -12px;
    right: -10px;
    color: white;
}

.containerCart {
    position: relative;
}