.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: marquee 10s linear infinite;
    margin-top: 30px;
}

@keyframes marquee {
    from {
    transform: translateX(-100%);
    }
    to {
    transform: translateX(100%);
    }
}