h2{
    color: rgb(232, 139, 17) !important;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
    text-decoration: underline;
}

.card-body{
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
}

.banner-section {
    background-image: linear-gradient(to bottom, #091e47, #0b224e, #0c2755, #0e2b5c, #0f3063, #0a3466, #053768, #013b6b, #003e69, #004066, #024262, #0c445f);
    margin-bottom: -200px !important;
}

.banner {
    color: rgb(232, 139, 17);
    text-transform: uppercase;
    padding: 20px;
    margin-top: -20px;
    text-decoration: underline;
}

p{
    color: white;
    text-align: center;
    margin: 20;
}

.img-fluid{
    padding: 20px;
}

section{
    margin-top: 10px;
}

.original-price{
    text-decoration: line-through !important;
}

#miSection{
    height: 250px;
}