#logo {
    transform: rotateX(0deg);
    transition: 3.5s;
    padding: 20px;
    width: 130px;
}

#logo:hover {
    transform: rotateX(360deg);
}

.logo-img {
    width: 500px !important;
    padding: 200px;
}

.navbar {
    background-image: linear-gradient(to right, #000000, #060304, #0a060a, #0c090f, #0c0d14, #0d1118, #0d141b, #0c171e, #0c1a23, #0b1d28, #09212e, #062433);
    height: 156px;
    font-family: sans-serif;
}

.nav-link {
    color: white !important;
    font-size: 900px;
}

.navbar-nav .nav-link {
    font-weight: 550;
    font-size: 17px;
    letter-spacing: -1px; 
}

.nav-link:hover {
    color: rgb(227, 46, 46) !important;
    text-decoration: underline;
}

